.section-slider-container {
    width: 100%;
    align-self: center;
    margin: 5px 0;
    padding: 15px 0
}

.slider-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8
}

.slider-header-titulo {
    font-size: 14px
}

.slider-container {
    padding: 3px 20px
}

.slider-range-value {
    font-size: 12px
}

.range-values-container {
    display: flex;
    justify-content: space-between;
}

.rc-slider-handle{
    border: solid 0px;
}

.rc-slider-track{
    background-color: transparent;
}