.App {
  text-align: center;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center
}

.bg-gradient {
  background: #003b67;
  background: -webkit-linear-gradient(to bottom, #084e82, #003b67);
  background: linear-gradient(to bottom, #084e82, #003b67);
}