.App {
  text-align: center;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center
}

.titulo-formulario {
  width: 100%;
  align-self: center;
  font-weight: bold;
  padding-bottom: 15;
  font-size: 21px
}

.section-slider-container {
  width: 100%;
  align-self: center;
  margin: 5px 0;
  padding: 15px 0
}

.slider-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8
}

.slider-header-titulo {
  font-size: 14px
}

.slider-container {
  padding: 3px 20px
}

.slider-range-value {
  font-size: 12px
}

.range-values-container {
  display: flex;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rc-input-number-input {
  background-color: transparent;
  width: 80%;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  border: 1px solid #ffffff7a;
  color: white;
}

.rc-input-number {
  width: 33%
}

.bg-gradient {
  background: #003b67;
  background: -webkit-linear-gradient(to bottom, #084e82, #003b67);
  background: linear-gradient(to bottom, #084e82, #003b67);
}

.footer-formulario {
  background-color: #00355d;
  display: flex;
  justify-content: space-between;
  padding: 8px 14px;
  align-items: center;
}